// DEFAULT COLORS:
$screen-color: #f4f4f4;
$header-backcolor: #1d171a;
$dark-backcolor: #241c1c;
$grey-backcolor: #524b4b;

// PAINT COLORS:
$white-paint: #ffffff;
$black-paint: #000000;
$blue-text-paint: #173156;
$softblue-paint: #22a1dc;
$grey-paint: #404040;
$green_regular-paint: #128f1e;
$yellow_regular-paint: #fbae17;
$green_light-paint: #cbffd1;
$dark-purple-paint: #2f44aa;
$red-paint: #c1121a;
$facebook-paint: #44579a;
$youtube-paint: #d21a20;
$linkedin-paint: #3374aa;
$menu-paint: #333333;

// SCREEN BREAKPOINTS:
$breakpoint-md: 880px;
$breakpoint-sm: 600px;